* {
    margin: 0;
    padding: 0;
}

/*font-family: 'Comfortaa', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Inconsolata', monospace;
*/

p {
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    line-height: 1.6;
}

:root {
    --nav-drop-down--: rgba(12, 19, 21, 1);
    --background-color-1: rgba(20, 26, 28, 1);
    --background-color-2: rgba(12, 19, 21, 1);
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

::selection {
    color: #ffff;
    background-color: #BFA37C;
}

.common-section {
    height: auto;
    width: 100%;
    position: relative;
}

.common-section-inner {
    height: auto;
    width: 91%;
}

/*--=================Hero-Section=================-*/

.hero-bg-img-mian {
    height: 100%;
    width: 100%;
    animation: hero-animation 14s infinite;
}

@keyframes hero-animation {

    0% {
        background: url(Images/hero-img-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    25% {
        background: url(Images/hero-img-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    50% {
        background: url(Images/heor-img-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    75% {
        background: url(Images/hero-img-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    100% {
        background: url(Images/hero-img-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

/*-----------------Header-Before-Collapse----------------*/

.header-1-main {
    border-bottom: 1px solid #eee;
}

.header-1-main h6,
i {
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
    letter-spacing: 3px;
}

.nav-item .nav-link {
    color: #eee;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

.header-2-main .nav-item .nav-link:hover {
    text-decoration: underline;
}

.nav-sub-menu {
    height: auto;
    width: 300px;
    position: absolute;
    background: var(--nav-drop-down--);
    border-radius: 15px;
    display: none;
    z-index: 999;
}

.nav-hover:hover .nav-sub-menu {
    display: block;
}

.nav-sub-menu-2 {
    height: auto;
    width: 300px;
    position: absolute;
    background: var(--nav-drop-down--);
    border-radius: 15px;
    left: 100px;
    display: none;
}

.nav-hover-2:hover .nav-sub-menu-2 {
    display: block;
}

.sub-menu-content {
    height: auto;
    width: 300px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.sub-menu-content ul li {
    line-height: 2.6;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #aaa9a9;
}

.sub-menu-content ul li:hover {
    color: #eee;
}

/*-----------------Header-On-Scroll----------------*/

.header-scroll-main {
    border-bottom: 1px solid #b6b1b1;
}

.header-scroll-main .nav-item .nav-link:hover {
    text-decoration: underline;
}

#header-scroll-main {
    display: none;
}

.header-scroll-main .bg-body-tertiary {
    background: linear-gradient(var(--nav-drop-down--), var(--nav-drop-down--));
}


/*-----------------Header-After-Collapse----------------*/

.header-after-collapse {
    position: sticky;
    top: -3px;
    z-index: 998;
}

.header-after-collapse .navbar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    background: linear-gradient(var(--nav-drop-down--), var(--nav-drop-down--));
}

.header-after-collapse .navbar .collapse {
    background-color: rgba(12, 19, 21, 255);
}

.navbar-toggler {
    color: transparent;
}

.bi-text-right {
    color: #eee;
    font-size: 25px;
}

.accordion-item {
    background-color: var(--nav-drop-down--);
    border: none;
}

.accordion-body,
.accordion-header,
.accordion-button {
    background: var(--nav-drop-down--);
    color: #eee;
}

.accordion-button:not(.collapsed) {
    background: rgba(12, 19, 21, 255);
    color: #eee;
}

.accordion-body h2,
ul li {
    line-height: 2.6;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #aaa9a9;
}

.accordion-body ul li:hover {
    color: #eee;
}

/*-----------------Home-Section-----------------*/

.home-main {
    padding-bottom: 55px;
    padding-top: 17%;
}

.home-main h1,
h5 {
    user-select: none;
}

.home-main h1 {
    font-family: 'Open Sans', sans-serif;
}

.home-main h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #d4d0d0;
}

.transparent {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #b6b1b1;
    padding: 5px 35px 0 5px;
    color: #b6b1b1;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}

.transparent:focus {
    color: #eee;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}

.transparent::placeholder {
    color: #b6b1b1;
}

.transparent option {
    color: #666;
}

.home-btn {
    background: transparent;
    outline: none;
    color: #eee;
    border: 1px solid #eee;
}

/*--=================Section-2-Start=================-*/

.section-2-main {
    background: var(--background-color-1);
}

.sec-2-content-main {
    padding-bottom: 35px;
}

.sec-2-main-para p {
    color: #888;
    font-weight: 600;
}

.sce-2-para-call .bi-headset {
    font-size: 35px;
}

.sce-2-para-call {
    color: #BFA37C;
}

.card-img-main {
    height: auto;
    position: relative;
}

.sec-2-img-content-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000c5;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}

.card-img-main:hover .sec-2-img-content-main {
    opacity: 1;
}

.img-content {
    height: auto;
    width: auto;
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, 50%);
    color: #eee;
    font-family: 'Comfortaa', sans-serif;
}

.img-content sup {
    font-size: 22px;
    color: #bfa37c;
    font-weight: bold;
}

.img-content h5 {
    color: #888;
}

.img-content sub {
    color: #bfa37c;
}

.img-content span {
    font-size: 38px;
    font-weight: 400;
    color: #bfa37c;
}

.img-content-para {
    font-size: 15px;
    color: #888;
}

.card-lower-content {
    height: 100px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.card-lower-content>a {
    color: #eee;
}

.card-stars-main {
    color: #BFA37C;
    font-size: large;
}

/*--=================Section-3-Start=================-*/

.section-3-main {
    background-color: var(--background-color-2);
    height: auto;
    padding-bottom: 50px;
}

.sec-3-content-1 {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.sec-3-heading-main>h6 {
    color: #bfa37c;
    font-weight: 400;
    font-size: smaller;
}

.sec-3-content-2-cols {
    width: 96%;
}

.sec-3-content-2-cols>p {
    color: #999;
}







@media(min-width:998px) {
    .header-main {
        width: 92%;
    }

    #header-scroll-main {
        position: fixed;
        top: -80px;
        width: 100%;
        display: block;
        transition: top 0.6s;
        z-index: 997;
    }

    h1 {
        font-size: 43px;
        color: #eee;
    }

    .sec-2-content-main>p {
        font-size: 16px;
    }

    .sec-2-main-para {
        width: 88%;
        float: right;
    }

    .sec-3-content-2-cols {
        width: 75%;
    }

}

@media (max-width:965px) {

    .img-content {
        position: absolute;
        top: 24%;
        left: 45%;
        transform: translate(-50%, 50%);
    }

}

@media (max-width:885px) {

    .img-content {
        position: absolute;
        top: 18%;
        left: 45%;
        transform: translate(-50%, 50%);
    }

}

@media (max-width:750px) {

    .img-content {
        position: absolute;
        top: 13%;
        left: 43%;
        transform: translate(-50%, 50%);
    }

}

@media (max-width:690px) {

    .img-content {
        position: absolute;
        top: 8%;
        left: 43%;
        transform: translate(-50%, 50%);
    }

    .img-content span {
        font-size: 28px;
    }

    .img-content sup {
        font-size: 17px;
    }

}

@media(min-width:575px) {

    @media (max-width:648px) {

        .img-content {
            position: absolute;
            top: 5%;
            left: 43%;
            transform: translate(-50%, 50%);
        }

        .img-content h5 {
            font-size: 10px;
        }

        .img-content h5 {
            font-size: 15px;
        }

        .img-content span {
            font-size: 27px;
        }

        .img-content sup {
            font-size: 15px;
        }

        .img-content-para {
            font-size: 13px;
        }

    }

}
